doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title #{pkg.title} #{pkg.version} Demo
        meta(name='description', content=`Demo for ${pkg.title} (${pkg.homepage})`)
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='main.css', rel='stylesheet')

    body
        div#panel
            h1
                a(href=`${pkg.homepage}` title=`${pkg.title} project page`) #{pkg.title}
                |  #{pkg.version} Demo

            section
                ul#fracs
                    li.header
                        span.idx #
                        span.info possible
                        span.info visible
                        span.info viewport

                h2 Dimensions
                ul#dims
                    li #[span doc:]#[span.info.doc undef.]
                    li #[span viewport:]#[span.info.vp undef.]

                h2 ScrollState
                ul#scrollstate
                    li #[span width:]#[span.info.width undef.]
                    li #[span height:]#[span.info.height undef.]
                    li #[span left:]#[span.info.left undef.]
                    li #[span top:]#[span.info.top undef.]
                    li #[span right:]#[span.info.right undef.]
                    li #[span bottom:]#[span.info.bottom undef.]

        script(src='jquery.min.js')
        script(src=`../jquery.fracs-${pkg.version}.js`)
        script(src='main.js')
